MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=canteen_coupon

LOCAL_NETWORK_HOST=0.0.0.0
LOCAL_NETWORK_PORT=8000

UPI_ID=friend@upi
UPI_PAYEE_NAME=Canteen Name

BILLS_OUTPUT_DIR=generated_bills
QR_OUTPUT_DIR=generated_qr

LOGS_DIR=logs
